<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wstrong.mygank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:name=".KApplication"
        android:allowBackup="true"
        android:icon="@mipmap/studio_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.WebViewActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".views.DataDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".views.PictureActivity"></activity>
        <activity android:name=".views.SiteActivity"></activity>
        <activity android:name=".views.CollectionActivity"></activity>

        <meta-data android:value="${UMENG_APPKEY}" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="${UMENG_CHANNEL}" android:name="UMENG_CHANNEL"></meta-data>
    </application>

</manifest>